body {
  transition: 1s;
  margin: 0px auto;
  overflow: hidden;
  background-color: black;
}
.connected {
  background-color: rgba(0, 0, 0, 0) !important;
}
.helper {
  color: white;
  margin: auto;
  width: 80%;
  border: 3px solid rgb(97, 14, 175);
  padding: 10px;
  text-align: center;
  transition: 1s;
}
.censor_box {
  position: fixed;
  left: 850px;
  background-image: url("../img/among.png");
  width: 220px;
  height: 60px;
  bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  border-radius: 10px;
  transition: 0.5s;
}
.hide {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.size {
  bottom: 50px;
  width: 360px;
  height: 90px;
  left: 780px;
}
.highlight {
  color: greenyellow;
  display: inline;
  background-color: black;
  padding: 3px;
}
.what {
  max-width: 8%;
}
.disconnect_box {
  position: fixed;
  right: 10px;
  color: white;
  padding: 15px;
  top: 5px;
  border-radius: 5px;
  margin-right: -400px;
  background-color: #c62828;
  transition: 0.5s;
}
.disconnect_box.unhide {
  margin-right: 0px !important;
}
